table{
	width:95%;
	height:90%;
}
td.holi div.holiday{
	font-size:7.5px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	webkit-text-overflow: ellipsis;
	  -o-text-overflow: ellipsis;
	position:absolute;
	display:inline-block;
	width:45px;
}
div.account_img{
	display: inline-block;
	width:65px;
	position:relative;
	top:2.5px;
	cursor:pointer;
}
div.this_ym{
	height:10%;
	text-align: right;
	vertical-align: bottom;
	display:inline-block;
	position:relative;
	left:24%;
}
